/* In the below example, we have two rules that could apply to the h1. 
The h1 ends up being colored blue — these rules have an identical selector
and therefore carry the same specificity,
so the last one in the source order wins. */
/* h1 {
  color: red;
}
h1 {
  color: blue;
} */

/* The below h1 ends up being colored red — the class selector gives 
its rule a higher specificity, and so it will be applied even though
the rule with the element selector appears further down in 
the source order. */
/* .main-heading {
  color: red;
}
h1 {
  color: blue;
} */

/* f you set a color and font-family on an element, every element inside it will also be styled with that color and font, unless you've 
applied different color and font values directly to them. */
/* body {
  color: blue;
}

span {
  color: black;
} */

/* The color has applied to the direct children, but also the indirect children — the immediate child <li>s, and those inside the first nested list. We have then added a class- special to the second nested list and applied a different color to it.
 This then inherits down through its children. */
/* .main {
  color: rebeccapurple;
  border: 2px solid #ccc;
  padding: 1em;
}

.special {
  color: black;
  font-weight: bold;
} */
body {
  color: green;
}

.my-class-1 a {
  /* 1. if the inheritance rule is removed, the a element becomes by default blue */
  /* color: inherit; */
}
/* 2. The spec lists the initial value of a property in its definition table  */
.my-class-2 a {
  color: initial;
}
/* 2.Resets the property to its natural value, which means that if the property is naturally inherited it acts like inherit, otherwise it acts like initial. */
.my-class-3 a {
  color: unset;
}
/* 3. only the default change its color */
a {
  color: red;
}
